<%- include('header') -%>
<nav class="navbar navbar-light bg-light">
    <a href="/" class="navbar-brand">TODO APP</a>
</nav>


<div class="container mt-5">
    <form action="/add/todo" class="d-flex" method="POST">
        <input type="text" name="todo" class="form-control" placeholder="Enter Todo">
        <input type="submit" class="btn btn-md btn-primary " value="Add Todo">
    </form>

    <ul class="list-group my-5">
        <% todo.forEach(todos=>{ %>
            <li class="list-group-item"><%= todos.todo %></li>
            <a href="delete/todo/:<%= todos.id %>" class="btn btn-sm btn-danger">DELETE</a>

       <% })%>
        
    </ul>

</div>



<%- include('footer') -%>
